/*----Contact Info----*/
.contact__info{
    margin-left: 42vw;
    font-size: 1rem;
}

.info{
    font-size: 1.2rem;
}

h1{
    text-align: center;
    color: purple;
    font-weight: bold;
    margin-top: 3vh;
}

.bold{
    font-weight: bold;
}

/*----Contact form----*/
.contact__div{
    margin-left: 40vw;
}

.contact__form{
    width: 20vw;
}

.contact__input{
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 2px solid gray;
    outline: none;
    margin-bottom:2vh ;
}

.contact__button{
    display: block;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 2vh;
    margin-left:15vw;
}

/*------Responsive For Mobile Devices-------*/

@media screen and (max-width:768px) {
    .contact__info{
        margin-left: 16vw;
        font-size: 1rem;
    }

    .info{
        font-size: 1.1rem;
    }

    .contact__div{
        margin-left: 15vw;
    }
    
    .contact__form{
        width: 62vw;
    }
    
    .contact__input{
        font-size: 1rem;
        padding: 0.8rem;
    }
    
      .contact__button{
        font-size: 1rem;
        margin-left:45vw;
      }
    
}