body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*------navbar-------*/

.nav{
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    background-color: purple;
}

.nav__logo{
    margin-left: 14vw;
    margin-bottom: 2vw;
}

.nav__menu{
    margin-right: 14vw;
}

.nav__logo a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

.nav__list {
    list-style: none;

}

.nav__item{
    display: inline-block;
    margin-left: 1rem;
}

.nav__item a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav__item a:hover{
    font-weight: bold;
    cursor: pointer;
}

.active{
    font-weight: bold;
}

.nav__toggle,#show{
    display: none;
}

/*------main-------*/
.main{
    display: flex;
    justify-content: space-between;
}

.main__left{
    margin-top: 15vh;
    margin-left: 15vw;
}

.home__title{
    font-size: 2.8rem;
}

.home__title-color{
    color: purple;
}

.button{
    background-color: purple;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    border-radius:0.5rem;
}

.button:hover{
    box-shadow: 0 10px 36px rgba(0,0,0,.15);
}

.main__right{
    margin-right: 14vw;
    margin-bottom: 5vh;
}

.main__right img{
    border-radius: 50%;
    height:65vh;
    width: 32vw;
    margin-top: 5vh;
}

/*------footer-------*/

.footer{
    background-color: #0E2431;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

.footer__title{
    font-size:1rem;
    font-weight: bold;
    margin-bottom: 3vh;
}

/*------Responsive For Mobile Devices-------*/

@media screen and (max-width:768px) {

    /*------navbar-------*/
    .nav__top{
        display: flex;
        justify-content: space-between;
    }

    .nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    .nav__logo{
        margin-left: 5vw;
    }
    
    .nav__menu{
        width: 105%;
        margin-left:-8vw;   
        background-color:rgba(177, 34, 177, 0.904);
    }  

    .nav__logo a{
        font-size: 1.4rem;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }
    
    .nav__item{
        display: inline-block;
        margin-bottom:0.8rem;
    }
    
    .nav__item a{
        font-size: 1rem;
    }
    
    .nav__toggle{
        display: inline;
        margin-top: -5vh;
        margin-left: 80vw;
        margin-bottom: 1vh;
    }

    .nav__toggle i{
        color: white;
        font-size: 1.8rem;
    }

    .nav__toggle i:hover{
        cursor: pointer;
    }

    #show,#nav-menu{
        display:none;
    }

    #show:checked ~ #nav-menu{
        display:flex;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .main__left{
        margin-top: 3vh;
        margin-left: 10vw;
    }
    
    .home__title{
        font-size: 1.5rem;
    }
   
    .button{
        padding: 0.4rem 1.3rem;
        font-weight: bold;
        font-size: 0.8rem;
        display: inline-block;
        border-radius:0.5rem;
    }
    
    .main__right{
        margin-left: 25vw;
        margin-bottom: 15vh;
    }
    
    .main__right img{
        border-radius: 50%;
        height:30vh;
        width: 50vw;
        margin-top: 5vh;
    }

    .footer__title{
        font-size:0.8rem;
        font-weight: bold;
        margin-bottom: 3vh;
    }
    
}